<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<%= form_with(model: @playlist_song, url: playlists_song_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :playlist_id %>
    <%= form.text_field :playlist_id %>
  </div>

  <div class="field">
    <%= form.label :song_id %>
    <%= form.text_field :song_id, value: @song.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
